llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
streamlit
pandas
sentence-transformers
openai
openpyxl
parsel
httpx
tqdm
PyPDF2
python-docx
lxml
docx2txt
llama-index-readers-web
trafilatura
requests
